/* playfair-display-sc-regular - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/playfair-display-sc-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-sc-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-sc-700 - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/playfair-display-sc-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-sc-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-sc-900 - l{atin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/playfair-display-sc-v14-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-sc-v14-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*---ROOT Y GENERALES---*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  gap: 2px;
  grid-template-areas: 
  "header header header"
  "main    main   main"
  "footer footer footer";
}

/*----HEADER---*/
.header{
  /*position: fixed;
  top: 0;
  left: 0;*/
  width: 100%;
  background-color: rgb(209, 193, 169);
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
}

.header .logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header div img{
  width: 120px;
  height: 120px;
}
.header nav .nav-menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: space-between;
}
.header nav .nav-menu li{
  margin-right:62px;
}
.header nav .nav-menu li a{
  text-decoration: none;
  color: #040430;
  font-size: 18px;
}

/*----INICIO----*/

.promo-container{
height: 100vh;
background: linear-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0.5)), url(../imagenes/losamigos.jpg);
background-size: cover;
display: flex;
justify-content:center;
align-items: center;
}

.promo-container div{
  margin-top: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-container div p{
  margin-top: 20px;
}

.promo-container div a{
  margin-top: 30px;
  padding: 16px 38px; 
  text-transform: uppercase;
  color: #0c0c0a;
  background-color: #f8c078;
  border-radius: 30px;
  border: black solid;
}

.amigos{
  background-color: #f1f0f0;
  box-shadow:0px 2px 20px #1d1a1a;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  border-radius: 15px;
}
.amigos .amigos-container{
  margin-right: 15px;
  margin-left: 45px;
}


/*----MENU----*/

.grid-container-menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.3fr ;
  gap: 2px;
  grid-template-areas: 
  "header header header"
  "main    main   main"
  "footer footer footer";
}

.main-menu{
  background-image: url(../imagenes/menu.jpg);
  background-size: cover;
  font-weight: 700;
  padding: 50px;
  grid-area: main;
}
.main-menu h2{
  text-align: center;
}

.main-menu .menu-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-menu .menu-section-dos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/*---CONTACTO----*/
.main{
  grid-area: main;
}

.main-contact{
background: radial-gradient(rgba(238, 191, 104, 0.747), rgb(252, 252, 125));
background-position: center center;
background-size: cover;
display: flex;
flex-direction: column;
align-items: flex-end;
padding-bottom: 80px;
}


.main-contact .main-contact-container div{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.main-contact div p{
  line-height: 32px;
}

/*----UBICATION----*/
.main{
  grid-area: main;
}

.ubication{
  background-color: antiquewhite;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----FOTOS----*/
.main{
  grid-area: main;
}
.foto{
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.foto .foto-grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 10px;
  grid-template-areas: 
  "burger tropic sand"
  "alas salpic rejos"
  "calamares pincho boqueron"; 
}

/*-grid names-*/
.burger { grid-area: burger; }
.tropic { grid-area: tropic; }
.sand { grid-area: sand; }
.alas { grid-area: alas; }
.rejos { grid-area: rejos; }
.salpic { grid-area: salpic; }
.calamares { grid-area: calamares; }
.boqueron { grid-area: boqueron; }
.pincho { grid-area: pincho; }



/*-----FOOTER----*/

.footer{
  background-color: #47453142;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  grid-area: footer;
}
.footer ul {
  list-style: none;
  line-height: 18px;
  font-size: 14px;
}
.footer ul li a{
  text-decoration: none;
  color: #0c0c0a;
  font-weight: 700;
}
.footer .footer-sm{
  display: flex;
  gap: 18px;
}
/*----------MEDIA QUIERES------*/
@media screen and (max-width: 1024px) {

  .header .nav-menu{
    flex-direction: column;
  }
  .footer .footer-sm{
    flex-direction: column;
  }
  /*----CONTACTS----*/
  .main-contact{
    background-image: none;
    background-color: rgb(255, 251, 213);
    padding-left: 160px;
    padding-bottom: 0;
  }
  /*-----FOTOS---*/
  .foto .foto-grid-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-template-areas:
    "burger tropic"
    "sand     alas"
    "salpic  rejos"
    "calamares pincho"
    "boqueron alas";
    }
}
@media screen and (max-width: 600px) {
  .header{
    font-size: 10px;
  }
  .header .logo{
    flex-direction: column;
  } 
  .main{
    font-size: smaller;
  }
  /*----INICIO---*/
  .main .amigos{
    flex-direction: column;
    font-size: small;
  }
  .amigos-container img{
    width: 40px;
    height: 40px;
  }
  /*-----MENU-----*/
  .main-menu .menu-section{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .main-menu .menu-section-dos{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  /*-----FOTOS-----*/
  .foto{
    font-size: small;
    background:linear-gradient(rgba(236, 220, 220, 0.5), rgba(224, 171, 171, 0.5));
  }
  .foto .foto-grid-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "burger"
    "calamar"
    "tropic"
    "sand"
    "salpic"
    "rejos"
    "alas"
    "boqueron"
    "pincho"
    ;
    }

  /*----CONTACTS---*/
  .main-contact{
    font: 2em sans-serif;
  }
  /*---FOOTER---*/
  .footer{
    flex-direction: column;
    font-size: 8px;
  }
  .footer img{
    width: 20px;
    height: 20px;
  }
  .footer .footer-sm{
    gap: 6px;
  }
}

@media screen and (max-width: 320px){
  .header{
    flex-direction: column;
  }
  .footer{
    padding: 0;
  }
  .footer .footer-sm{
    gap: 0;
  }
  /*-----INICIO----*/
  .promo-container{
    margin-top: 10px;
    font-size: small;
  }
   /*-----MENU-----*/
   .main-menu{
     margin-top: 180px;
   }
   .main-menu .menu-section{
    gap: 10px;
    font-size: small;
  }
  .main-menu .menu-section-dos{
    gap: 10px;
    font-size: small;
  }
}

